<div class='animated fadeInUpBig'>
<h1 class='pull-left'><span class="glyphicon glyphicon-shopping-cart animated pulse"></span><strong> My Shopping Bag</strong></h1>
<h1 ng-forEach class='pull-right'>Order Total: {{allTotal() | currency}}</h1>
<table class=' table table-bordered'>
	<th>Products</th>
	<th>Quantity</th>
	<th>Sub-total</th>
	<th></th>
	<tr ng-repeat='input in listCart() track by $index'>
		<td><h2>{{input.tea.name}}</h2>
			<img class='hvr-float' ng-src='{{input.tea.imageUrl}}'>
			<h5>Caffeine Scale: {{input.tea.caffeineScale}}</h5>
			<h5>Ingredients: {{input.tea.ingredients}}</h5>
			<h5>Ratings: {{input.tea.rating}}</h5>
		</td>
		<td>
			<input ng-model='input.total' ng-show='show'><span ng-show='!show'><span>{{input.total}}</span>
		</td>
		<td>{{(input.tea.price * input.total)/100 | currency}}</td>
		<td>
			<button  ng-click="remove(input.tea._id)" id='remove' class='btn btn-danger hvr-float'>Remove
			</button>
			<button ng-click='show = !show' id='edit' class='btn btn-warning hvr-float'>Edit</button>	
		</td>
	</tr>
</table>
</span>










<!-- <h2>{{cart.listCart()}}</h2> -->