	<label>Search by category:</label>
	<select ng-model='queryTwo'>
		<option></option>
		<option ng-repeat='input in tea'>{{input.categories[0]}}</option>
		</select>
	<label>Search by name</label>
	<input ng-model="query" name='find-tea'>
	<button ng-click='checkout()' class='btn btn-danger pull-right'>Checkout | Bag: <span ng-show='count === 0 '> Empty!</span><span ng-show='count !== 0'>{{count}}</span></button>

	<table class="table table-bordered">
	<th>Tea</th>
	<th>Information</th>
		<tr ng-repeat='input in tea |  filter:query | filter:queryTwo'>
			<td><img ng-src='{{input.imageUrl}}'></td>
			<td>
				<h2>{{input.name}}
					<button ng-click='addToCart(input,quantity)' class='btn btn-warning pull-right'>Add to Bag</button>
					<select ng-model='quantity' class='pull-right'>
					<option  ng-repeat= 'num in optionNum'>{{num}}</option>
					</select>
				</h2>		
				<h5>Price: <strong></strong>{{input.price | currencyFormat}}</h5>
				<h5>Caffeine Scale: <strong></strong>{{input.caffeineScale}}</h5>
				<h5>Ingredients: <strong></strong>{{input.ingredients}}</h5>
				<h5>Rating: <strong></strong>{{input.rating}}</h5>
				<h5>In Stock: <strong></strong>{{input.inStock | falseFormat}}</h5>
				<h5>Categories:</h5>
				<ul ng-repeat='tea in input.categories'>
					<li>{{tea}}</li>
				</ul>
				</p>
				<caffeine caffeinemg="tea.caffeineScale" id="tea._id">
				<section class="content">
  <div class="box gauge--1">
    <div class="mask">
    	<div class="semi-circle"></div>
    	<div class="semi-circle--mask"></div>
    </div>
  </div>
    
    <div class="box gauge--2">
      <div class="mask">
        <div class="semi-circle"></div>
        <div class="semi-circle--mask"></div>
      </div>
  </div>
      
      <div class="box gauge--3">
        <div class="mask">
          <div class="semi-circle"></div>
          <div class="semi-circle--mask"></div>
        </div>
      </div>
</section></caffeine>
				</td>	
			</tr>
	</table>