
	<label>Search by category:</label>
	<select ng-model='queryTwo'>
		<option></option>
		<option ng-repeat='input in category'>{{input}}</option>
		</select>
	<label>Search by name</label>
	<input ng-model="query" name='find-tea'>
	<button ng-click='checkout()' class='btn btn-danger pull-right hvr-float'>Checkout | Bag: <span ng-show='count === 0 '> Empty!</span><span ng-show='count !== 0'>{{count}}</span></button>

	<table class="table table-bordered">
	<th>Tea</th>
	<th>Information</th>
		<tr ng-repeat='input in tea |  filter:query | filter:queryTwo'>
			<td><img class='hvr-float' ng-src='{{input.imageUrl}}'></td>
			<td>
				<h2>{{input.name}}
					<button ng-click='addToCart(input,quantity)' class='btn btn-warning pull-right hvr-float'>Add to Bag</button>
					<select ng-model='quantity' class='pull-right'>
					<option ng-repeat= 'num in optionNum'>{{num}}</option>
					</select>
				</h2>		
				<h5><strong>Price: </strong>{{input.price/100 | currency}}</h5>
				<h5><strong>Caffeine Scale: </strong>{{input.caffeineScale}}</h5>
				<h5><strong>Ingredients: </strong>{{input.ingredients}}</h5>
				<h5><strong>Rating: </strong>{{input.rating}}</h5>
				<h5><strong>In Stock: </strong>{{input.inStock | falseFormat}}</h5>
				<h5><strong>Categories: </strong></h5>
				<ul ng-repeat='tea in input.categories'>
					<li><h5>{{tea}}</h5></li>
				</ul>
				</p>
					
				<p><div ng-show='showTea = !showtea' id="tea._id" class='meter pull-right hvr-float'>
				<h5>Caffeine</h5>
				<p>mg/serving: {{input.caffeineScale}}</p>
				<p>
				<span ng-show='showTea'><span>Rating: {{setRate(input)}}</span></span>
				</p>
				<section class="content hvr-grow-rotate">
			      <div class="box gauge--3">
			        <div class="mask">
			          <div class="semi-circle"></div>
			          <div class="semi-circle--mask"></div>
			        </div>
			      </div>
			</section></div></p>
		</td>	
	</tr>
