.navbar-default {
	background: linear-gradient(45deg, #356aa0 0%,#030033 100%);
    /*background-color: #0f006f;*/
    border-color: #030033;
    font-color:red;
}

.glyphicon-leaf{
color:#780000;
-webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
}

.nav.navbar-nav li a{
	color:white;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}






.meter {
  font-size: 16;
  border:1px solid black;
  text-align:center;
}

.header {
  padding: 1rem;
  margin: 0 0 2rem 0;
  background: #f2f2f2;
}

h1 {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
}

.mask {
  position: relative;
  overflow: hidden;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  margin: 1.25rem;
}

.semi-circle {
  position: relative;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  background: linear-gradient(to right, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}
.semi-circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: block;
  width: 8.75rem;
  height: 4.375rem;
  margin-left: -4.375rem;
  background: #fff;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5rem;
  height: 12.5rem;
  background: transparent;
  transform: rotate(120deg) translate3d(0, 0, 0);
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all .3s ease-in-out;
}
.semi-circle--mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 2;
  display: block;
  width: 12.625rem;
  height: 6.375rem;
  margin: -1px 0 0 -1px;
  background: #f2f2f2;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

.gauge--1 .semi-circle {
  background: #1abc9c;
}

.gauge--2 .semi-circle {
  background: #c0392b;
}
.gauge--2 .semi-circle--mask {
  transform: rotate(20deg) translate3d(0, 0, 0);
}

.btn--twitter {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: .5rem;
  background: #3498db;
  color: #fff;
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
